.AssetManager{
  padding: 25px;
  .dzu-dropzone {
    border: none;
  }
  .dzu-inputLabel, .dzu-inputLabelWithFiles {
    color: #666;
  }
  .dzu-submitButton {
    color: #fff;
    background-color: #009be5;
  }
}
