.Load_Form{
  padding: 25px;
  & .MuiGrid-grid-xs-12 {
    flex-basis: 25%;
  }
  &_Lock {
    position: absolute !important;
    right: 35px;
    z-index: 1;
    cursor: pointer;
  }
  @media screen and (min-width: 0px) and (max-width: 500px) {
    & .MuiGrid-grid-xs-12 {
      flex-basis: 50%;
    }
  }

}
