.Load{
  &_Form{
    & .MuiGrid-grid-xs-12 {
      flex-basis: 25%;
    }
    &_Lock {
      position: absolute !important;
      right: 35px;
      z-index: 1;
      cursor: pointer;
    }
    @media screen and (min-width: 0px) and (max-width: 500px) {
      & .MuiGrid-grid-xs-12 {
        flex-basis: 50%;
      }
    }
  }
}

.MuiList-root.MuiMenu-list {
  position: relative;
  width: 100%;
}

.AssetManager{
  .dzu-dropzone {
    border: none;
  }
  .dzu-inputLabel, .dzu-inputLabelWithFiles {
    color: #666;
  }
  .dzu-submitButton {
    color: #fff;
    background-color: #009be5;
  }
}
